/* Basic styles to ensure the body and html take up the full viewport */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* The background div that will have the background image */
.background {
  position: absolute;
  top: -20vh;
  left: -20vw;
  width: 140vw;
  height: 140vh;
  background: url('./media/backdrop-transparent.png') no-repeat center center;
  background-size: cover;
  transition: transform 0.1s ease-out, background-size 0.1s ease-out;
}

.remote {
  position: absolute;
  bottom: -10vh;
  right: -1vw;
  transform: rotate(-0.05turn);
  /* height: 400px; */
  /* max-height: 30vh; */
  /* max-height: 40%; */
  /* width: auto; */
  /* scale: 40vh; */
  /* object-fit: contain;
  display: block;
  max-width: 100%;
  max-height: 100%; */
}