/* Basic styles to ensure the body and html take up the full viewport */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* The background div that will have the background image */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: url('../media/backdrop.avif') no-repeat center center;
  background-size: cover;
  transition: transform 0.1s ease-out;
}